.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    grid-template-areas:
    "h h"
    "n c";
    width: 1200px;
}

.header {
    grid-area: h;
    background-color: rgba(97, 255, 97, 0.45);
}

.main-header {
    height: 200px;
}

.main-header_pict {
    width: 100%;
    height: 100%;
}

.logo {
    width: 100px;
}

.nav {
    grid-area: n;
    background-color: #aef8ff;
}

.content {
    grid-area: c;
    background-color: #dabfff;
}

ul li {
    list-style-type: georgian;
}