.nav {
    grid-area: n;
    background-color: #4b61b4;
    padding: 20px;
}

.item a {
    color: #FFFFFF;
    text-decoration: none;
}

.item .activeLink {
    color: #FFD700;
    font-weight: bold;
}