.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}

.messages {
    padding: 10px;
}

.messages .message {
    margin: 5px;
}

.dialog .activeLink {
color: #FFD700;
}

.dialog a {
    color: #FFFFFF;
    text-decoration: none;
}

.message_container {
    display: flex;
    align-items: center;
    padding: 5px 0 5px;
}

.your_message {
    justify-content: flex-end;
}

.friends_message {
    justify-content: flex-start;
}